.site-layout-header {
  display: flex;
  align-items: center;
  padding: 12px;
}

.logo {
  width: 100px;
}

.logo a {
  color: @primary-color;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}

.logo button {
  color: @primary-color;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

.logo button span {
  color: @light-color;
  font-weight: normal;
}

.logo a span {
  color: @light-color;
  font-weight: normal;
}

.search {
  display: flex;
  align-items: center;
  flex: 1;
}

.search input {
  width: 100%;
  border: 1px solid @light-color;
  padding: 4px 12px;
  font-size: 14px;
  color: @dark-color;
  transition: all 0.3s;
}

.search h1 {
  color: @light-color;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-left: 10px;
}
